<a href="https://colab.research.google.com/github/Eudesjs/SoulCode_AD6_Analista_Dados/blob/main/exerc%C3%ADcio_cloud_sql_e_big_query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
Utilizando a instância criada anteriormente no Cloud SQL, crie um novo banco de
dados chamado tio

passo 1 - create database tio;

passo2 - aponte para o banco de dados tio: use tio;

passo 3 - criação do schema das tabelas:

create table alunos (
  id_aluno INT PRIMARY KEY,
  nome VARCHAR (50),
  curso VARCHAR (100)
);

CREATE TABLE disciplinas (
    id_disciplina INT PRIMARY KEY,
    id_aluno INT,
    disciplina VARCHAR(100),
    FOREIGN KEY (id_aluno) REFERENCES alunos(id_aluno)
);

passo 4 - população das tabelas:

INSERT INTO alunos (id_aluno, nome, curso)
VALUES
    (1, 'Douglas', 'filosofia'),
    (2, 'Daniela', 'letras'),
    (3, 'Ester', 'geografia'),
    (4, 'Maria', 'adm'),
    (5, 'Douglas', 'engenharia');

INSERT INTO disciplinas (id_disciplina, id_aluno, disciplina)
VALUES
    (1, '5', 'carro'),
    (2, '3', 'foguete'),
    (3, '4', 'bicicleta'),
    (4, '1', 'patins'),
    (5, '2', 'motocicleta');

passo 5: Criar uma conexão no bigquery com o banco tio

passo 6: criar um conjunto de dados no bigquery para
receber os dados do banco tio

passo 7 popular o conjunto de dados crido na big query com os dados
do banco tio


'''

"\nUtilizando a instância criada anteriormente no Cloud SQL, crie um novo banco de\ndados chamado tio\n\npasso 1 - create database tio;\n\npasso2 - aponte para o banco de dados tio: use tio;\n\npasso 3 - criação do schema das tabelas:\n\ncreate table alunos (\n  id_aluno INT PRIMARY KEY,\n  nome VARCHAR (50),\n  curso VARCHAR (100)\n);\n\nCREATE TABLE disciplinas (\n    id_disciplina INT PRIMARY KEY,\n    id_aluno INT,\n    disciplina VARCHAR(100),\n    FOREIGN KEY (id_aluno) REFERENCES alunos(id_aluno)\n);\n\npasso 4 - população das tabelas:\n\nINSERT INTO alunos (id_aluno, nome, curso)\nVALUES\n    (1, 'Douglas', 'filosofia'),\n    (2, 'Daniela', 'letras'),\n    (3, 'Ester', 'geografia'),\n    (4, 'Maria', 'adm'),\n    (5, 'Douglas', 'engenharia');\n\nINSERT INTO disciplinas (id_disciplina, id_aluno, disciplina)\nVALUES\n    (1, '5', 'carro'),\n    (2, '3', 'foguete'),\n    (3, '4', 'bicicleta'),\n    (4, '1', 'patins'),\n    (5, '2', 'motocicleta');\n\npasso 5: Criar uma conexão no bigquery com o banco tio\n\npasso 6: criar um conjunto de dados no bigquery para\nreceber os dados do banco tio\n\npasso 7 popular o conjunto de dados crido na big query com os dados\ndo banco tio\n\n\n"