<a href="https://colab.research.google.com/github/Eudesjs/SoulCode_AD6_Analista_Dados/blob/main/Manipula%C3%A7ao_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# IMORTANDO AS BIBLIOTECAS NUMPY E PANDAS

In [4]:
#SERIES
'''
serie é uma cadeia de dados unidimensional ela vai ser uma cadeia de arrays
ela suporta qualquer tipo de dados.
'''
notas = pd.Series([1, 5, 7.5, 9, 10])
print(notas)
print(notas.values)
print(notas.index)
print('-------------------------------------')

print(notas.describe) #Vai exibir informação estatistica
print(notas.mean()) # informa a media
print(notas.median()) # informa a mediana
print(notas**2)

0     1.0
1     5.0
2     7.5
3     9.0
4    10.0
dtype: float64
[ 1.   5.   7.5  9.  10. ]
RangeIndex(start=0, stop=5, step=1)
-------------------------------------
<bound method NDFrame.describe of 0     1.0
1     5.0
2     7.5
3     9.0
4    10.0
dtype: float64>
6.5
7.5
0      1.00
1     25.00
2     56.25
3     81.00
4    100.00
dtype: float64

In [5]:
# DATAFRAME
'''
dataframe e um arranjo de dados bidimensional.
'''
df = pd.DataFrame({'Aluno':['Jose', 'carlos', 'Ana', 'Julia', 'Debora'],
                   'Faltas' :[3,4,2,4,3],
                   'Prova':[2,7,8,5.5,9.2],
                   'Seminario':[8.5,5,8.2,6,9.5]})

print(df)

    Aluno  Faltas  Prova  Seminario
0    Jose       3    2.0        8.5
1  carlos       4    7.0        5.0
2     Ana       2    8.0        8.2
3   Julia       4    5.5        6.0
4  Debora       3    9.2        9.5

In [6]:
# DATAFRAME
#print(df.dtypes) # VER O TIPO DE VARIAVEL QUE EXISTEM NO CONTEUDO DO DATAFRAME
#print(df.columns) # IMPRIME AS COLUNAS
#print(df['Aluno'])# PODEMOS IMPRIMIR APENAS A COLUNA DESEJADA.
#print(df.describe()) # IMPRIME DADOS ESTATISTICOS.
#print(df.sort_values(by='Seminario')) # ordenar os valores
#print(df.loc[3]) # IMPRIME PELO INDEX
#print(df[df['Seminario'] > 8.0]) # IMPRIME POR FILTRO VALOR DE COMPARAÇÃO
print(df[(df['Seminario'] > 8.0) & (df['Prova'] > 3)]) #IMPRIME POR FILTRO VALOR LOGICO

    Aluno  Faltas  Prova  Seminario
2     Ana       2    8.0        8.2
4  Debora       3    9.2        9.5

In [8]:
# IMPORTANDO CSV
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [12]:
# MANIPULAÇÃO DE DADOS.
print(df['population'].unique())

[1537.  809. 1484. ...  516. 3496.   46.]

In [13]:
print(df['population'].value_counts())

population
870.0     7
697.0     6
753.0     6
881.0     6
1211.0    6
         ..
1415.0    1
1916.0    1
803.0     1
767.0     1
46.0      1
Name: count, Length: 1802, dtype: int64

In [15]:
print(df.groupby('population').mean())

            longitude  latitude  housing_median_age  total_rooms  \
population
5.0          -114.620     33.62                26.0         18.0
8.0          -117.035     33.26                26.5         11.0
14.0         -117.775     33.35                50.5         28.5
19.0         -122.490     38.00                26.0         48.0
21.0         -118.060     34.03                36.0         21.0
...               ...       ...                 ...          ...
8824.0       -117.120     33.49                 4.0      21988.0
9419.0       -117.200     33.58                 2.0      30450.0
10877.0      -117.270     33.15                 4.0      23915.0
11139.0      -116.140     34.45                12.0       8796.0
11935.0      -121.530     38.48                 5.0      27870.0

            total_bedrooms  households  median_income  median_house_value
population
5.0                    3.0         3.0        0.53600            275000.0
8.0                    3.0         2.5        1.37500             57500.0
14.0                   6.0         8.0        1.90625            171900.0
19.0                   8.0         8.0        7.71970            400000.0
21.0                   7.0         9.0        2.37500            175000.0
...                    ...         ...            ...                 ...
8824.0              4055.0      3252.0        3.99630            191100.0
9419.0              5033.0      3197.0        4.59360            174300.0
10877.0             4135.0      3958.0        4.63570            244900.0
11139.0             1721.0      1680.0        2.26120            137500.0
11935.0             5027.0      4855.0        4.88110            212200.0

[1802 rows x 8 columns]