<a href="https://colab.research.google.com/github/Eudesjs/SoulCode_AD6_Analista_Dados/blob/main/Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!curl ipecho.net/plain

In [ ]:
# INSTALAÇÃO DO PACOTE MYSQL-CONNECTOR-PYTHON USANDO O GERENCIADOR DE PACOTE PIP
!pip install mysql-CONNECTOR-PYTHON

In [ ]:
# IMPORTANDO DAS BIBLIOTECAS NECESSÁRIAS
import mysql.connector # NECESSARIA PARA SE CONECTAR COM O BANCO DE DADOS MYSQL
import pandas as pd # SERÁ USADA PARA VICUALIZAÇÃO DAS TABELAS EXTRAIDAS DO MY SQL.

In [ ]:
# DEFINIÇÃO DAS INFORMAÇÕES DE CONEXÃO AO SERVIDOR (INSTANCIA)
host = '34.42.189.175' # IP DA INSTANCIA DO BANCO DE DADOS
user = 'root'
password = ''

In [ ]:
# DEFINIÇÃO DAS INFORMAÇÕES DE CONEXÃO AO SERVIDOR (INSTANCIA)
host = '34.42.189.175' # IP DA INSTANCIA DO BANCO DE DADOS
user = 'root'
password = ''
database = 'Eudes'

In [ ]:
# ESTABELECIMENTO DA CONEXAO COM O BANCO DE DADOS USANDO AS INFORMAÇÕES FORNECIDAS (!curl ipecho.net/plain) pegar o ip do google.
connection = mysql.connector.connect(
    host = host,
    user = user,
    password = password,
)
cursor = connection.cursor() # CRIAÇAO DE UM CURSOR PARA EXECUTAR CONSULTAS SQL NO BANCO DE DADOS.
query = 'create database Eudes ;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tables = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame
#Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tables) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
CREATE TABLE Cliente (
    id_cliente INT PRIMARY KEY,
    nome VARCHAR (50),
    endereco VARCHAR (100),
);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
# ESTABELECIMENTO DA CONEXAO COM O BANCO DE DADOS USANDO AS INFORMAÇÕES FORNECIDAS (!curl ipecho.net/plain) pegar o ip do google.
# criar uma tabela no banco de dados Eudes
connection = mysql.connector.connect(
    host = host,
    user = user,
    password = password,
    database = 'Eudes'
)
cursor = connection.cursor() # CRIAÇAO DE UM CURSOR PARA EXECUTAR CONSULTAS SQL NO BANCO DE DADOS.
query = '''
create table Pedido (
  id_pedido INT PRIMARY KEY,
  id_cliente INT,
  descricao varchar (100),
  FOREIGN KEY (id_cliente) REFERENCES Cliente(id_cliente)
);
''' # CRIAR TABELA DE FORMA REMOTA ATRAVES DO COLAB
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tables = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame
#Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tables) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

Empty DataFrame
Columns: []
Index: []

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
CREATE TABLE Produto (
    id_produto INT PRIMARY KEY,
    nome VARCHAR(50),
    preco DECIMAL(10, 2)
);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
CREATE TABLE ItemPedido (
    id_item INT PRIMARY KEY,
    id_pedido INT,
    id_produto INT,
    quantidade INT,
    FOREIGN KEY (id_pedido) REFERENCES Pedido(id_pedido),
    FOREIGN KEY (id_produto) REFERENCES Produto(id_produto)
);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
CREATE TABLE Categoria (
    id_categoria INT PRIMARY KEY,
    nome VARCHAR(50)
);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
CREATE TABLE ProdutoCategoria (
    id_produto INT,
    id_categoria INT,
    PRIMARY KEY (id_produto, id_categoria),
    FOREIGN KEY (id_produto) REFERENCES Produto(id_produto),
    FOREIGN KEY (id_categoria) REFERENCES Categoria(id_categoria)
);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO Cliente (id_cliente, nome, endereco)
VALUES
    (1, 'Douglas', 'SP'),
    (2, 'Daniela', 'SP'),
    (3, 'Ester', 'MG'),
    (4, 'Maria', 'BA'),
    (5, 'Douglas', 'PE'),
    (6, 'Raimundo', 'CE'),
    (7, 'Jucimara', 'GO'),
    (8, 'Marlene', 'AC'),
    (9, 'Douglas', 'MA'),
    (10, 'Daniela', 'PI'),
    (11, 'Pedro', 'PB'),
    (12, 'Joaquim', 'RS'),
    (13, 'Julio', 'TO'),
    (14, 'Carla', 'DF'),
    (15, 'Bianca', 'PA'),
    (16, 'Sandra', 'SP'),
    (17, 'Celso', 'SP'),
    (18, 'Silvana', 'BA'),
    (19, 'Prof Raquel', 'BA'),
    (20, 'Pedro', 'SP');
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO Cliente (id_cliente, nome, endereco)
VALUES
    (1, 'Douglas', 'SP'),
    (2, 'Daniela', 'SP'),
    (3, 'Ester', 'MG'),
    (4, 'Maria', 'BA'),
    (5, 'Douglas', 'PE'),
    (6, 'Raimundo', 'CE'),
    (7, 'Jucimara', 'GO'),
    (8, 'Marlene', 'AC'),
    (9, 'Douglas', 'MA'),
    (10, 'Daniela', 'PI'),
    (11, 'Pedro', 'PB'),
    (12, 'Joaquim', 'RS'),
    (13, 'Julio', 'TO'),
    (14, 'Carla', 'DF'),
    (15, 'Bianca', 'PA'),
    (16, 'Sandra', 'SP'),
    (17, 'Celso', 'SP'),
    (18, 'Silvana', 'BA'),
    (19, 'Prof Raquel', 'BA'),
    (20, 'Pedro', 'SP'),
    (21, 'Erick', 'BA'),
    (22, 'Denise', 'DF'),
    (23, 'Diana', 'SP'),
    (24, 'Dagmar', 'DF'),
    (25, 'Deiverson', 'SP');
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO Pedido (id_pedido, id_cliente, descricao)
VALUES
    (1, '1', 'Caneca'),
    (2, '1', 'Garfo'),
    (3, '2', 'Faca'),
    (4, '5', 'Copo'),
    (5, '19', 'Copo'),
    (6, '19', 'Colher'),
    (7, '15', 'Colher'),
    (8, '8', 'Colher'),
    (9, '2', 'Copo'),
    (10, '19', 'Colher'),
    (11, '6', 'Copo'),
    (12, '11', 'Colher'),
    (13, '10', 'Garfo'),
    (14, '4', 'Garfo'),
    (15, '3', 'Colher'),
    (16, '3', 'Garfo'),
    (17, '2', 'Copo'),
    (18, '17', 'Garfo'),
    (19, '14', 'Caneca'),
    (20, '13', 'Caneca');
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO Produto (id_produto, nome, preco)
VALUES
    (1, 'Caneca', 15.99),
    (2, 'Garfo', 5.99),
    (3, 'Faca', 7.99),
    (4, 'Colher', 3.99),
    (5, 'Copo', 10.99);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO ItemPedido (id_item, id_pedido, id_produto, quantidade)
VALUES
    (1, 1, 1, 2),
    (2, 2, 2, 5),
    (3, 3, 3, 7),
    (4, 4, 5, 10),
    (5, 5, 5, 11),
    (6, 6, 4, 30),
    (7, 7, 4, 32),
    (8, 8, 4, 44),
    (9, 9, 5, 13),
    (10, 10, 4, 33),
    (11, 11, 5, 34),
    (12, 12, 4, 32),
    (13, 13, 2, 33),
    (14, 14, 2, 34),
    (15, 15, 4, 27),
    (16, 16, 2, 18),
    (17, 17, 5, 17),
    (18, 18, 2, 33),
    (19, 19, 1, 50),
    (20, 20, 1, 47);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO Categoria (id_categoria, nome)
VALUES
    (1, 'Comer'),
    (2, 'Beber');
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Criar uma tabela no banco de dados
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
    )
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
INSERT INTO ProdutoCategoria (id_produto, id_categoria)
VALUES
    (1, 2),
    (2, 1),
    (3, 1),
    (4, 1),
    (5, 2);
''' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
connection.commit() # Confirmar as alterações
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da tabela Cliente
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Cliente' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
clientes = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(clientes) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado clientes
'''

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da tabela Pedido
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Pedido' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
Pedido = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(Pedido) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado Pedido
'''

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da tabela Produto
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Produto' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
produto = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(produto) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado Produto
'''

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da tabela ItemPedido
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ItemPedido' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
itempedido = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(itempedido) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado ItemPedido
'''

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da tabela Categoria
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Categoria' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
categoria = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(categoria) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado categoria
'''

In [ ]:
'''
Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros
da Tabela ProdutoCategoria
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ProdutoCategoria' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
produtocategoria = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(produtocategoria) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena
os resultados da consulta em um dataframe Pandas chamado produtocategoria
'''

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 40;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
where1 = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(where1) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona as colunas: id_produto e quantidade da tabela:
ItemPedido, quando a quantidade for maior ou igual a 40 e armazena
os resultados da consulta em um dataframe Pandas chamado where1
'''

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''SELECT * FROM Cliente
WHERE endereco = "SP";''' #campo de texto precisa estar em aspas na consulta
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
where2 = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(where2) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona todas as colunas, quando o endereço for igual a SP
e armazena os resultados da consulta em um dataframe Pandas chamado where2
'''

In [ ]:
# Abertura da conexão para uma nova consulta
'''
Vamos agora fazer uma consulta que retorne distintamentos os ids de produto
e quantidade onde a quantidade for igual a 33
'''
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT DISTINCT id_produto, quantidade FROM ItemPedido
WHERE quantidade = 33;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona distintamente as colunas: id_produto e quantidade
da tabela: ItemPedido, quando o quando a quantidade for igual a 33.
e armazena os resultados da consulta em um dataframe Pandas chamado distinct
'''

In [ ]:
'''
Vamos agora fazer uma consulta que retorne distintamentes os nomes
presentes na tabela clientes
'''

# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT DISTINCT nome FROM Cliente
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Agora imagine que você deseja consultar todas as colunas da tabela cliente,
no entanto, quer exibir apenas as primeiras 5 colunas
'''

# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT * FROM Cliente
LIMIT 5;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
limit = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(limit) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Lendo o comando: Seleciona todos os atributos da tabela
Cliente e mostra apenas os cinco primeiros registros, e armazena os resultados
da consulta em um dataframe Pandas chamado limit
'''

In [ ]:
'''
Agora vamos fazer uma consulta que retorne todos os ids e nomes de clientes que
sejam da BA e tenha id 19
'''
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_cliente, nome
FROM Cliente
WHERE endereco = 'BA'
AND id_cliente = 19;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
e = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(e) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Clientes,
apenas os registros com endereco igual a 'BA' e id_cliente igual a 19, e
armazena os resultados da consulta em um dataframe Pandas chamado e
'''

In [ ]:
'''
Agora vamos fazer uma consulta que retorne todos os nomes e endereços da tabela
cliente que sejam de SP ou MG
'''
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT nome, endereco
FROM Cliente
WHERE endereco = 'SP'
OR endereco = 'MG';
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
ou = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(ou) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Clientes,
apenas os registros com endereco igual a 'SP' ou endereco a 'MG', e
armazena os resultados da consulta em um dataframe Pandas chamado ou
'''

In [ ]:
'''
agora vamos fazer uma consulta que retorne nome e enderço dos clientes que não
sejam de SP
'''
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT nome, endereco
FROM Cliente
WHERE NOT endereco = 'SP';
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
nao = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(nao) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Clientes,
apenas os registros com endereco não seja igual a 'SP', e armazena os resultados
da consulta em um dataframe Pandas chamado nao
'''

In [ ]:
'''
imagine que voce deseja fazer uma consulta que retorne a quantidade média
do atributo quantidade da tabela ItemPedido, arredondando amédia para 2 casas
decimais
'''
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT AVG(quantidade) AS qtde_media,
round(AVG(quantidade),2) AS qtde_media_arredondado
FROM ItemPedido;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
media = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(media) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
Resumo do comando: Seleciona as colunas: quantidade da tabela ItemPedido,
retorna o valor arredondado (ROUND) médio da coluna (AVG), e armazena os
resultados da consulta em um dataframe Pandas chamado media
'''