<a href="https://colab.research.google.com/github/Eudesjs/SoulCode_AD6_Analista_Dados/blob/main/Revisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# VARIAVEL EM PYTHON
'''
VARIAVEIS EM PYTHON SÃO PALAVRAS QUE PODE ARMAZENAR UM VALOR NA MEMORIA DO
CONPUTADOR.
'''
nome = 'Eudes' #variavel NOME recebe um VALOR (Eudes)
# O sinal de Igual ( = ) é um simbolo de atribuição.
# A Varivel nome atribiu o valor 'Eudes a sua varivel.
print(nome)
print(type(nome)) # a função Type mostra qual tipo da variavel que tem o
# Eudes no caso a varivel nome é do tipo String.
print("*"*50)
'''
PODE TER 4 TIPOS DE VARIAVEL.
1 - INTEIRO (INT: 1, 2 , 3, 4, 100, -1, -30...) TODO NUMERO DE PARTE INTEIRA
2 - PONTO FLUTUANTE (FLOAT: 1.3, 4.34, 10,33...) TODO NUMERO COM CASA DECIMAL.
3 - STRING (STR: '234', 'Eudes', 'a, 'A...) TODO CARACTER QUE ESTA ENTRE ASPAS.
4 - BOOLEANO (BOOL: TRUE OU FALSE) RESULTADO LOGICO TRUE OU FALSE
'''
numero = 34 # VARIAVEL DO TIPO INT = 34
print(numero)
print(type(numero))

decimal = 34.54 # VARIVAEL DO TIPO FLOAT = 34.54
print(decimal)
print(type(decimal))

resultado = True # VARIAVEL DO TIPO BOOL
print(resultado)
print(type(resultado))

nome: 'Eudes' # VARIAVEL DO TIPO STR
print(nome)
print(type(nome))

Eudes
<class 'str'>
**************************************************
34
<class 'int'>
34.54
<class 'float'>
True
<class 'bool'>
Eudes
<class 'str'>

In [8]:
# OPERADORES MATEMATICOS
'''
OS OPERADORES MATEMATICOS PERMITEM REALIZAR OPERAÇÕES MATEMATICAS BASICAS
OPERADORES MATEMATICOS BASICOS:
1 - ADIÇÃO ( + )
2 - SUBTRAÇÃO ( - )
3 - MULTIPLICAÇÃO ( * )
4 - DIVISÃO ( / )
  - PARTE INTEIRA DA DIVISÃO ( // )
  - RESTO DA DIVISÃO ( % )
5 - EXPONENCIAÇÃO ( ** )
'''
# ADIÇÃO ( + )
a = 5
b = 2
print(a + b)
print("*"*50)

# SUBTRAÇÃO ( - )
a = 5
b - 2
print(a - b)
print("*"*50)

# MULTIPLICAÇÃO ( * )
a = 5
b = 2
print(a * b)
print("*"*50)

# DIVISÃO ( / )
a = 5
b = 2
print(a / b)

# PARTE INTEIRA DA DIVISÃO ( // )
a = 5
b = 2
print(a // b)

# RESTO DA DIVISÃO ( % )
a = 5
b = 2
print(a % b)
print("*"*50)

# EXPONENCIAÇÃO ( ** )
a = 5
b = 2
print(a ** b)
print("*"*50)

7
**************************************************
3
**************************************************
10
**************************************************
2.5
2
1
**************************************************
25
**************************************************

In [ ]:
# OPERADORES DE COMPARAÇÃO
'''
OPERADORES DE COMPARAÇÃO PERMITEM VERIFICAR SE DUAS EXPRESSÕES SÃO IGUAIS
DIFERENTES, MAIORES, MENORES ETC. E QUE RETORNA SEMPRE COM RESULTADO LOGICO
VERDADEIRO (TRUE) OU FALSO (FALSE).
'''

In [10]:
# OPERADOR DE IGUALDADE ( == )
igualdade = 3 == 4
print(igualdade)

False

In [11]:
# OPERADOR DE DIFERENÇA ( != )
diferente = 3 != 4
print(diferente)

True

In [12]:
# OPERADOR MAIOR QUE ( > )
maior = 3 > 4
print(maior)

False

In [13]:
# OPERADOR MENOR QUE ( < )
menor = 3 < 4
print(menor)

True

In [14]:
# OPERADOR MAIOR OU IGUAL A ( >= )
maior_igual = 3 >= 4
print(maior_igual)

False

In [15]:
# OPERADOR MENOR OU IGUAL A ( <= )
menor_igual = 3 <= 4
print(menor_igual)

True

In [16]:
# OPERADOR DE IDENTIDADE ( IS E IS NOT )
'''
Em Python, os operadores is e is not são chamados de operadores de identidade1.
Eles são usados para determinar se duas variáveis estão na mesma parte da memória1.
Portanto, duas variáveis serem iguais e duas variáveis serem idênticas são duas
afirmações diferentes
'''
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)  # Retorna True, porque a e b apontam para o mesmo objeto
print(a is c)  # Retorna False, porque a e c são listas diferentes na memória

'''
Neste exemplo, a e b são idênticos (ou seja, apontam para o mesmo objeto na memória),
enquanto a e c são apenas iguais em termos de valor, mas não são o mesmo objeto na memória.
'''

True
False

'\nNeste exemplo, a e b são idênticos (ou seja, apontam para o mesmo objeto na memória), \nenquanto a e c são apenas iguais em termos de valor, mas não são o mesmo objeto na memória.\n'

In [ ]:
# OPERADOR DE IDENTIDADE ( IS )
a = 7
b = 7.0
print(a is b) # RETORNA FALSO POR QUE AS DUAS VARIVAEIS NAO SAO IDENTICA
print(a == b) # RETORNA VERDADEIRO POR ELAS SAO IGUAIS.

In [ ]:
# OPERADOR DE IDENTIDADE ( IS NOT )
a = 7
b = 7.0
print(a is not b) # RETORNA VERDADEIRO, POIS A E B NAO SAO IDENTICAS
print(a != b) # RETORNA FALSO POR QUE A E B SÃO IGUAIS.

In [17]:
# OPERADOR DE ASSOCIAÇÃO
'''
Em Python, os operadores in e not in são chamados de operadores de associação.
Eles são usados para verificar se um valor está ou não em uma sequência,
como strings, listas ou tuplas.
'''
lista = [1, 2, 3, 4, 5]
valor = 3

if valor in lista:
    print("O valor está na lista")
else:
    print("O valor não está na lista")

'''
Neste exemplo, o operador in é usado para verificar se o valor 3 está na lista.
Se estiver, o programa imprimirá “O valor está na lista”.
Caso contrário, imprimirá “O valor não está na lista”.
'''

O valor está na lista

'\nNeste exemplo, o operador in é usado para verificar se o valor 3 está na lista.\nSe estiver, o programa imprimirá “O valor está na lista”. \nCaso contrário, imprimirá “O valor não está na lista”.\n'

In [18]:
# OPERADOR IN
nome = 'Eudes'
print('E' in nome)

True

In [19]:
# OPERADOR NOT IN
'''
Da mesma forma, o operador not in é usado para verificar se um valor não está em
 uma sequência. Por exemplo:
'''
lista = [1, 2, 3, 4, 5]
valor = 6

if valor not in lista:
    print("O valor não está na lista")
else:
    print("O valor está na lista")

'''
Neste exemplo, como o valor 6 não está na lista, o programa imprimirá
“O valor não está na lista”.

'''

O valor não está na lista

'\nNeste exemplo, como o valor 6 não está na lista, o programa imprimirá\n“O valor não está na lista”.\n\n'

In [20]:
# OPERADOR NOT IN
nome = 'Eudes'
print('E' not in nome)

False

In [ ]:
# OPERADORES LOGICOS (AND, OR, NOT)